.header
  = render "header"
.content_new
  .content_name
    = image_tag 'edit_name.png'
  = form_with(model: @tweet, local: true) do |f|
    .content_text_edit
      = f.text_area :text
    .text_submit-btn
      = f.submit "編集する", class:'text_submit'
    .text_submit-btn
      = link_to "削除する", "/tweets/#{@tweet.id}", method: :delete,class:'text_submit'
    


