.header
  = render "header"
.content_new
  .content_name
    = image_tag 'new_name.png'
  = form_with(model: @tweet, local: true) do |f|
    .content_text
      = f.text_area :text
    .text_submit-btn
      = f.submit "投稿する",class:'text_submit'

   