.header
  =render 'header'
.contents_show
  .contents_show__tweet
    -if current_user.id == @tweet.user_id
      =link_to "/tweets/#{@tweet.id}/edit" do
        = @tweet.text
    -else
      = @tweet.text
  = form_with(model: @comment, url: tweet_comments_path(@tweet), method: :post, id: 'new_comment', local: true) do |f|
    .contents_show__comment
      .comment_text
        = f.text_area :text, class:'comment_textarea',placeholder: "コメントを入力して下さい"
      .comment_submit-btn
        = f.submit "コメントする",class: 'comment_btn'
  .contents_show__comments
    .contents_show__comments__title
      .comments_show
        ＜コメント一覧＞
      -if @comments
        -@comments.each do |comment|
          .contents_show__comments__comment
            =comment.text
      