.header
  = render "tweets/header"
.content_new
  .content_name
    = image_tag 'picture_name.png'
  %label
    = form_with(model: @picture, local: true) do |f|
      .content_picture
        = image_tag 'picture.png', class: 'field-image'
        =f.file_field :image ,class: 'image_field'
        %p クリックして画像を投稿してください
      - if @picture.errors[:image].any? 
        = render 'layouts/picture_error'
      .text_submit-btn
        = f.hidden_field :hogehoge_image_cache
        = f.submit "SEND",class:'image_submit'